# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore editor specific files
.vscode

# Ignore contents in play
play/*
!play/template.cpp
!play/template.rs

# Ignore logs
*.log
*.txt

!**/CMakeLists.txt
!**/Cargo.toml

# Compiled target files
/target

# Ignore lock file (temporary)
*.lock
